.scattered-clouds-dia {
    background-image: url('https://img.freepik.com/foto-gratis/hojas-verdes-sol_1127-3826.jpg?size=626&ext=jpg&ga=GA1.2.1413851642.1693077997&semt=ais');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .default-background {
    background-image: url('https://img.freepik.com/foto-gratis/hojas-verdes-sol_1127-3826.jpg?size=626&ext=jpg&ga=GA1.2.1413851642.1693077997&semt=ais');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */